.clients {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    gap: 2rem;
    padding: 1rem 2rem;
    @media (max-width: 768px) {
        padding: 0;
    }
    &__container {
        background-color: var(--background-color);
        padding: 3rem 2rem;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 5px 4px 3px rgba($color: #000000, $alpha: .3);

        h1 {
            font-family: var(--primary-font);
        }
        &__map {
            width: 100%;
            height: 500px;
        }
        &__slider {
            margin: 2rem;
        }
    }
}