<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <body>
        <div class="mensaje">
            <img src="assets/images/error404.jpg" alt="Error Image" class="mensaje--image" draggable="true">
            <h1 class="mensaje--error"> Error {{this.errorCode}} </h1>
            <h2>{{this.errorMessage}}</h2>
            <a [routerLink]="['/app']" class="boton">Inicio</a>
        </div>
    </body>    
</body>
</html>
