<section class="about">
    <div class="about__header">
      <img src="/assets/images/about-header.png" alt="Header Image" class="about__header--image" draggable="false">
      <h1 class="about__header--title fall-from-above">Nuestra misión</h1>
    </div>
    <div class="about__container">
      <div class="about__container__items">
        <div #aboutItem class="about__container__items--item">
          <picture>
            <img src="/assets/images/paw-with-qr.webp" alt="paw-with-qr">
          </picture>
          <p>
            En el mundo actual, la gran mayoría de nosotros cuenta con un dispositivo móvil, y en Pet Connect estamos decididos a aprovechar esta tecnología para mejorar y facilitar la vida de nuestras queridas mascotas.
          </p>
        </div>
        <div #aboutItem class="about__container__items--item">
          <picture>
            <img src="/assets/images/print-qr-heart.webp" alt="print-qr-heart">
          </picture>
          <p>
            Con nuestro innovador sitio web, tendrás la capacidad de crear códigos QR personalizados para tus mascotas. Estos códigos podrás imprimirlos tú mismo, permitiendo que tu compañero peludo esté protegido y seguro sin importar a dónde vaya.
          </p>
        </div>
        <div #aboutItem class="about__container__items--item">
          <picture>
            <img src="/assets/images/pet-profile.webp" alt="pet-profile">
          </picture>
          <p>
            Escanea tu código QR único con tu smartphone y accede a información valiosa sobre tu mascota y tú. Incluye detalles importantes, como tu nombre y número de contacto, para reunirte rápidamente con tu amado compañero si se separan.
          </p>
        </div>
        <div #aboutItem class="about__container__items--item">
          <picture>
            <img src="/assets/images/pet-with-qr.webp" alt="pet-with-qr">
          </picture>
          <p>
            Nuestra misión en Pet Connect es brindarte tranquilidad y seguridad, permitiéndote tener el control sobre la protección de tu mascota. Únete a nosotros y descubre cómo un pequeño código QR marca la gran diferencia en su vida.
          </p>
        </div>
      </div>
    </div>
</section>