<article class="about">
  <h2><fa-icon [icon]="faCommentDots"></fa-icon> Acerca de nosotros</h2>
  
  <div class="about__content">
    <div class="about__content__img">
      <picture>
        <img src="assets/images/about-image.png" alt="about-image" draggable="false">
      </picture>
    </div>
    <div class="about__content__text">
      <p>En Pet Connect, nuestra misión es crear un mundo más seguro y conectado para las mascotas y sus dueños. Fundada en 2024, Pet Connect se dedica a proporcionar soluciones innovadoras que faciliten la vida de las mascotas y sus familias.</p>
      <p>Nuestro equipo está compuesto por amantes de los animales que entienden la importancia de mantener a nuestros amigos peludos seguros y felices. Ofrecemos herramientas avanzadas para registrar y gestionar la información de tus mascotas, proporcionando tranquilidad en todo momento.</p>
      <p>Además de nuestras funcionalidades principales, Pet Connect fomenta una comunidad de dueños de mascotas donde se comparten consejos, experiencias y apoyo. Creemos firmemente en el poder de la comunidad para crear un entorno más enriquecedor y seguro para todos nuestros miembros.</p>
      <p>Únete a Pet Connect y descubre cómo podemos ayudarte a cuidar y proteger a tus seres queridos de cuatro patas. Juntos, hacemos del mundo un lugar mejor para nuestras mascotas.</p>
    </div>
  </div>
</article>
