<footer class="footer">
    <div class="footer__social">
        <div>
            <a href="https://www.facebook.com/pet.connect.uy" target="_blank">
                <picture>
                    <img src="/assets/images/facebook-icon.webp" alt="facebook-logo">
                </picture>
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/petconnect.uy" target="_blank">
                <picture>
                    <img src="/assets/images/instagram-icon.webp" alt="facebook-logo">
                </picture>
            </a>
        </div>
        <div>
            <a href="" target="_blank">
                <picture>
                    <img src="/assets/images/email-icon.webp" alt="facebook-logo">
                </picture>
            </a>
        </div>
    </div>
    <div class="footer__container">
        <div class="footer__container__item">
            <h6>Comunidad</h6>
            <div class="footer__container__item--links">
                <a routerLink="/stories">Historias</a>
            </div>
        </div>
        <div class="footer__container_item">
            <h6>Preguntas frecuentes</h6>
            <div class="footer__container__item--links">
                <a routerLink="/frequent-questions">Dónde compro mi chapita?</a>
                <a routerLink="/frequent-questions">Cómo activo el código qr?</a>
                <a routerLink="/frequent-questions">Qué pasa si mi mascota se pierde?</a>
            </div>
        </div>
        <div class="footer__container_item">
            <h6>Subscribirse</h6>
        </div>
    </div>
</footer>