/* Estilos para el navbar */
.navbar {
    padding: 1rem;
    background-color: var(--background-color);
    .navbar-nav {
        .nav-link {
            margin-right: 1rem;
            padding: .6rem 1.4rem;
            cursor: pointer;
            border-radius: .6rem;
        }
    
        .nav-link.active {
            background-color: var(--primary-color);
            border-radius: .6rem;
        }
    }
    a {
        cursor: pointer;
    }
    fa-icon {
        color: var(--primary-color);
    }
}
  