<nav class="navbar navbar-expand-lg navbar-expand-md navbar-ligth">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/app'">
      <picture>
        <img width="80" height="74" class="d-inline-block align-text-top" src="/assets/images/pet-connect-logo.png" alt="pet-connect-logo" draggable="false">
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a mat-raised-button [color]="isActive('/app') ? 'primary' : 'accent'" class="nav-link" routerLink="/app" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a mat-raised-button [color]="isActive('/contact') ? 'primary' : 'accent'" class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a mat-raised-button [color]="isActive('/clients') ? 'primary' : 'accent'" class="nav-link" routerLink="/clients" routerLinkActive="active">Clientes</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown" *ngIf="this.user && this.token">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <fa-icon [icon]="faUser"></fa-icon> Yo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/dashboard">
                <fa-icon [icon]="faPaw"></fa-icon> Mis mascotas
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" (click)="signOut()">
                <fa-icon [icon]="faRightFromBracket"></fa-icon> Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!this.user || !this.token">
          <a class="nav-link" routerLink="/auth/signin" routerLinkActive="active" *ngIf="!isSignupRoute()">Iniciar sesión</a>
          <a class="nav-link" routerLink="/users/signup" routerLinkActive="active" *ngIf="isSignupRoute()">Registrarse</a>
        </li>
        <li class="nav-item">
          <app-dark-mode-toggler></app-dark-mode-toggler>
        </li>
      </ul>
    </div>
  </div>
</nav>
