<nav class="navbar navbar-expand-lg navbar-expand-md navbar-ligth">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/app'">
      <picture>
        <img width="80" height="80" class="d-inline-block align-text-top" src="/assets/images/pet-connect-logo.png" alt="pet-connect-logo" draggable="false">
      </picture>
    </a>
    <button aria-label="Desplegar / esconder barra de navegación" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-1">
          <div class="d-md-none mt-1">
            <div class="d-flex gap-1 align-items-center justify-content-between">
              <li class="nav-item m-1" *ngIf="this.user && this.token">
                <a mat-raised-button [color]="isActive('/dashboard') ? 'primary' : 'button'" class="nav-link w-100" routerLink="/dashboard" routerLinkActive="active">Yo</a>
              </li>
              <li class="nav-item m-1" *ngIf="!this.user || !this.token">
                <a class="nav-link w-100 m-1" mat-raised-button routerLink="/auth/signin" routerLinkActive="active" *ngIf="!isSignupRoute()">Iniciar sesión</a>
              </li>
              <li class="nav-item m-1" *ngIf="!this.user || !this.token">
                <a class="nav-link w-100 m-1" mat-raised-button routerLink="/users/signup" routerLinkActive="active" *ngIf="isSignupRoute()">Registrarse</a>
              </li>
              <app-dark-mode-toggler></app-dark-mode-toggler>
            </div>
          </div>
        </li>
        <li class="nav-item m-1">
          <a mat-raised-button [color]="isActive('/app') ? 'primary' : 'button'" class="nav-link w-100" routerLink="/app" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item m-1">
          <a mat-raised-button [color]="isActive('/contact') ? 'primary' : 'button'" class="nav-link w-100" routerLink="/contact" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item m-1 d-md-none" *ngIf="this.user && this.token">
          <a mat-raised-button class="nav-link w-100" (click)="signOut()">Cerrar sesión</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-md-flex">
        <li class="nav-item mt-1 dropdown" *ngIf="this.user && this.token">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <fa-icon [icon]="faUser"></fa-icon> Yo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/dashboard">
                <fa-icon [icon]="faPaw"></fa-icon> Mis mascotas
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" (click)="signOut()">
                <fa-icon [icon]="faRightFromBracket"></fa-icon> Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item d-none d-md-flex" *ngIf="!this.user || !this.token">
          <a class="nav-link w-100 m-1 btn-login" mat-raised-button routerLink="/auth/signin" routerLinkActive="active" *ngIf="!isSignupRoute()">
            <fa-icon [icon]="faRightFromBracket" style="color: #fff;"></fa-icon> Iniciar sesión
          </a>
          <a class="nav-link w-100 m-1" mat-raised-button routerLink="/users/signup" routerLinkActive="active" *ngIf="isSignupRoute()">Registrarse</a>
        </li>
        <li class="nav-item d-none d-md-inline">
          <app-dark-mode-toggler></app-dark-mode-toggler>   
        </li>
      </ul>
    </div>
  </div>
</nav>
