<header class="header">
    <div class="header__content">
        <div class="header__content__items">
            <div class="header__content__items__container">
                <h1>Pet Connect <span>siempre conectados</span></h1>
                <p>❣️ Lo que amamos en un lugar más seguro</p>
                <div class="d-flex align-items-center justify-content-end w-100">
                    <button aria-label="Obtener tu chapita" mat-flat-button style="background-color: var(--background-color);" (click)="toSection($event, 'howToGet')">
                        <fa-icon [icon]="faQrcode"></fa-icon> Obtener chapita QR
                    </button>
                </div>
            </div>
        </div>
        <div class="header__content--image">
            <picture>
                <img src="/assets/images/headerimage.webp" alt="header-image" draggable="false" class="img-fluid">
            </picture>
        </div>
    </div>
</header>