<header class="header">
    <div class="header--logo">
        <picture>
            <img src="/assets/images/pet-connect-logo.png" alt="pet-connect-logo" draggable="false">
        </picture>
    </div>
    <div class="header__items">
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faUser"></fa-icon></p>
            <h3>CREA TU PERFIL</h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faPaw"></fa-icon></p>
            <h3>PUBLICA TU MASCOTA</h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faQrcode"></fa-icon></p>
            <h3>CREA TU CÓDIGO QR</h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faPrint"></fa-icon></p>
            <h3>IMPRÍMELO</h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faMagnifyingGlassLocation"></fa-icon></p>
            <h3>EVITA LO PEOR</h3>
        </div>
    </div>
</header>