<header class="header">
    <div class="header--logo">
        <picture>
            <img src="/assets/images/pet-connect-logo.png" alt="pet-connect-logo" draggable="false">
        </picture>
    </div>
    <div class="header__items">
        <div *ngIf="!this.user" #headerItem class="header__items--item">
            <p><fa-icon [icon]="faUser"></fa-icon></p>
            <h3>
                <a routerLink="/users/signup">CREA TU PERFIL</a>
            </h3>
        </div>
        <div *ngIf="this.user && !this.token" #headerItem class="header__items--item">
            <p><fa-icon [icon]="faUser"></fa-icon></p>
            <h3>
                <a routerLink="/auth/signin">INICIÁ SESIÓN</a>
            </h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faPaw"></fa-icon></p>
            <h3>
                <a href="#">PUBLICA TU MASCOTA</a>
            </h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faQrcode"></fa-icon></p>
            <h3>
                <a href="#">CREA TU CÓDIGO QR</a>
            </h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faPrint"></fa-icon></p>
            <h3>
                <a href="#">IMPRÍMELO</a>
            </h3>
        </div>
        <div #headerItem class="header__items--item">
            <p><fa-icon [icon]="faMagnifyingGlassLocation"></fa-icon></p>
            <h3>
                <a href="#">EVITA LO PEOR</a>
            </h3>
        </div>
    </div>
</header>