<section class="signup">
    <picture>
        <img src="/assets/images/register-image.webp" alt="register-image">
    </picture>
    <form [formGroup]="signupForm" (ngSubmit)="register()">
        <app-progress-bar [currentStep]="0" *ngIf="this.token"></app-progress-bar>
        <div class="signup__container container-fluid">
            <div class="signup__container__header">
                <h1 class="signup__container__header--title" *ngIf="this.user">Hola {{this.user.firstname}}</h1>
                <a *ngIf="!this.token" [routerLink]="['/auth/signin']">Ya tienes una cuenta?</a>
                <a *ngIf="this.token" [routerLink]="['/auth/signin']" [queryParams]="{token: this.token}">Ya tienes una cuenta?</a>
            </div>
            <div class="row w-100">
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput formControlName="firstname">
                        <mat-error *ngIf="isFieldInvalid('firstname')">
                            {{getErrorMessage('firstname')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput formControlName="lastname">
                        <mat-error *ngIf="isFieldInvalid('lastname')">
                            {{getErrorMessage('lastname')}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="isFieldInvalid('email') || emailExists">
                            {{getErrorMessage('email')}}
                            <span *ngIf="emailExists">El correo electrónico ya está registrado.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'text' : 'password'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="isFieldInvalid('password')">
                            {{getErrorMessage('password')}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Celular de contacto</mat-label>
                        <input matInput formControlName="phone">
                        <mat-error *ngIf="isFieldInvalid('phone')">
                            {{getErrorMessage('phone')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 signup__container__item">
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let suggestion of addressSuggestions" [value]="suggestion" (onSelectionChange)="selectAddressSuggestion(suggestion)">
                                {{ suggestion }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="isFieldInvalid('address')">
                            {{getErrorMessage('address')}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="signup__container__item w-100">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de nacimiento (opcional)</mat-label>
                    <input (focus)="picker.open()" matInput [matDatepicker]="picker" formControlName="birth_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                    <mat-error *ngIf="isFieldInvalid('birth_date')">
                        {{getErrorMessage('birth_date')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="unknowError" class="signup__container__item--error">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                <p>{{errorMessage}}</p>
            </div>
            <div class="signup__container__item--button">
                <button mat-raised-button color="primary" [disabled]="submitting || signupForm.invalid">
                    {{btnValue}}
                    <mat-icon *ngIf="submitting">sync</mat-icon>
                    <mat-icon *ngIf="!submitting">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </form>
</section>