.signup {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    gap: 2rem;
    padding: 1rem 2rem;
    @media (max-width: 768px) {
        padding: 0;
    }
    picture {
        img {
            width: 100%;
            max-width: 500px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__container {
        background-color: var(--background-color);
        padding: 3rem 2rem;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 5px 4px 3px rgba($color: #000000, $alpha: .3);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 800px) {
            width: 100%;
            border-radius: 0;
            padding: 0;
        }
        &__header {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            &--title {
                font-family: var(--primary-font);
                text-align: center;
                margin-bottom: 3rem;
            }
            a {
                margin: 1rem 0;
            }
        }
        &__item{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            position: relative;
            margin-top: 15px;
            margin-bottom: 25px;
            &__group{
                display: flex;
                position: relative;
                &--eye{
                    position: absolute;
                    right: 0;
                    top: 10px;
                    color: var(--primary-color);
                }
            }
            &--label{
                font-family: var(--secondary-font);
                width: max-content;
                position: absolute;
                pointer-events: none;
                top: 9px;
                left: 12px;
                transition: all 0.3s ease;
            }
            &--input{
                width: 100%;
                padding: 10px;
                outline: none;
                border: none;
                background-color: #f2f2f2;
                color: var(--text-color);
                background-color: var(--background-color);
                border-bottom: 2px solid var(--primary-color);
                transition: all .3s ease;
                &:focus{
                    border-bottom: 2px solid var(--primary-color);
                }
            }
            &--button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                button {
                    padding: 10px;
                    border: none;
                    background-color: var(--primary-color);
                    color: #f2f2f2;
                    font-family: var(--secondary-font);
                    font-size: 15px;
                    border-radius: 20px;
                    transition: all .3s;
                    &:hover {
                        background-color: darken(#F9B348, $amount: 10);
                    }
                    &:disabled {
                        background-color: grayscale($color: #F9B348);
                        cursor: not-allowed;
                        pointer-events: none;
                    }
                }
            }
            &--validation{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                text-align: center;
                & p {
                    margin-left: 5px;
                    color: #818181;
                }
                & fa-icon {
                    color: red;
                }
            }
            &--error{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                color: red;
                text-align: center;
                padding: 5px;
                & p {
                    margin-left: 5px;
                }
            }
            &--footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                gap: 1rem;
            }
            & h2{
                font-family: var(--primary-font);
                text-align: center;
                margin-bottom: 3rem;
            }

        }
    }
}

.signup__container__item--input:focus ~ .signup__container__item--label,
.signup__container__item--input:not(:focus):valid ~ .signup__container__item--label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: var(--text-color);
}

.is-valid {
    border-bottom: 2px solid green;
}
  
.is-invalid {
    border-bottom: 2px solid red;
}

.input-container {
    position: relative;
}

.address-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: absolute;
    top: 100%;

    li {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }

  /* Estilos para la etiqueta "Fecha de nacimiento" */
.signup__container__item--label[for="birthdate"] {
    font-family: var(--secondary-font);
    width: max-content;
    position: absolute;
    pointer-events: none;
    top: -15px;
    font-size: 11px;
    left: 12px;
    transition: all 0.3s ease;
}

/* Estilos cuando el campo de fecha de nacimiento tiene el foco o está válido */
.birthdate-input:focus ~ .signup__container__item--label[for="birthdate"],
.birthdate-input:not(:focus):valid ~ .signup__container__item--label[for="birthdate"] {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: var(--text-color);
}
