<div class="sidenav-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container class="mat-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened>
            <mat-nav-list>
                <app-sidebar></app-sidebar>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="page-container" *ngIf="!loader">
                <div class="content">
                    <div class="settings">
                        <div class="settings__header">
                            <h2 class="settings__header--title">
                                <fa-icon [icon]="faGears"></fa-icon> Mi perfil
                            </h2>
                        </div>
                        <div class="settings__body">
                            <div class="settings__body__content">
                                <h4>Datos básicos</h4>
                                <form class="d-flex gap-3 w-100">
                                    <mat-form-field>
                                        <mat-label>Nombre completo</mat-label>
                                        <input matInput disabled value="{{this.user?.firstname}} {{this.user?.lastname}}">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input matInput disabled value="{{this.user?.email}}">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input matInput disabled value="{{this.user?.birth_date}}">
                                    </mat-form-field>
                                </form>
                                <h4>Cambiar la contraseña</h4>
                                <form class="settings__body__content__form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                                    <mat-form-field>
                                        <mat-label>Contraseña actual</mat-label>
                                        <input formControlName="current_password" matInput [type]="hide ? 'text' : 'password'" name="current_password">
                                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                            {{hide?'visibility_off':'visibility'}}
                                        </mat-icon>
                                    </mat-form-field>
                                    <mat-form-field [color]="passwordsMatch ? 'primary' : 'warn'">
                                        <mat-label>Nueva contraseña</mat-label>
                                        <input formControlName="new_password" matInput [type]="hide ? 'text' : 'password'" name="new_password">
                                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                    </mat-form-field>                                                                        
                                    <mat-form-field>
                                        <mat-label>Confirmar contraseña</mat-label>
                                        <input formControlName="confirm_password" matInput [type]="hide ? 'text' : 'password'" name="confirm_password">
                                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                            {{hide?'visibility_off':'visibility'}}
                                        </mat-icon>
                                    </mat-form-field>
                                    <button  mat-raised-button color="primary" [disabled]="submittingChangePassword || changePasswordForm.invalid" #formBtn>
                                        {{btnValue}}
                                        <fa-icon *ngIf="submittingChangePassword" [icon]="faSpinner" [spin]="true"></fa-icon>
                                        <fa-icon *ngIf="!submittingChangePassword" [icon]="faChevronRight"></fa-icon>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>