<app-template>
    <ng-container>
        <section class="page-container" *ngIf="!loader">
            <div class="content">
                <div class="settings">
                    <div class="settings__header">
                        <h2 class="settings__header--title">
                            <fa-icon [icon]="faGears"></fa-icon> Mi perfil
                        </h2>
                    </div>
                    <div class="settings__body">
                        <mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="start" animationDuration="100ms" >
                            <mat-tab label="Datos personales" bodyClass="tab-color">
                                <div class="settings__body__content">
                                    <h4>Datos básicos</h4>
                                    <form class="d-flex gap-3 w-100">
                                        <mat-form-field>
                                            <mat-label>Nombre completo</mat-label>
                                            <input matInput disabled value="{{this.user?.firstname}} {{this.user?.lastname}}">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Email</mat-label>
                                            <input matInput disabled value="{{this.user?.email}}">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Fecha de nacimiento</mat-label>
                                            <input matInput disabled value="{{this.user?.birth_date}}">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Dirección</mat-label>
                                            <input matInput disabled value="{{this.user?.address}}">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Número de contacto</mat-label>
                                            <input matInput disabled value="{{this.user?.phone}}">
                                        </mat-form-field>
                                    </form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Cambiar la contraseña">
                                <app-change-password></app-change-password>
                            </mat-tab>
                            <mat-tab label="Cambiar el email">
                                <app-change-email (emitUser)="handleUserData($event)"></app-change-email>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</app-template>