.sidenav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mat-sidenav-content {
    background-color: var(--background-color); 
}

.page-container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 13px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .content {
        flex: 1;
        padding: 20px;
        @media (max-width: 768px) {
            margin: 0 auto;
        }
        .settings {
            h4 {
                font-family: var(--secondary-font);
                text-align: start;
                fa-icon {
                    color: var(--primary-color);
                }
            }
            margin-bottom: 3.5rem;
            &__header {
                &--title {
                    width: max-content;
                    font-family: var(--primary-font);
                    color: var(--text-color);
                    font-size: 3rem;
                    border-bottom: 3px solid var(--primary-color);
                    fa-icon {
                        color: var(--primary-color);
                    }
                    @media (max-width: 768px) {
                        font-size: 2rem;
                        @media (max-width: 360px) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__body {
                margin: 2rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 2rem;
                &__content {
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    h4 {
                        margin: 1rem 0;
                        font-family: var(--secondary-font);
                    }
                    form {
                        width: 100%;
                        margin: 3rem 0;
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;
                        flex-wrap: wrap;
                        mat-form-field {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.mat-container {
    flex: 1;
}

.is-mobile .mat-container {
    flex: 1 0 auto;
}

.mdc-list {
    padding: 0;
    height: 100%;
}