<section class="page-container">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="dashboard">
            <div class="dashboard__header">
                <h2 class="dashboard__header--title"><fa-icon [icon]="faPaw"></fa-icon> Zona de peludos</h2>
                <div class="dashboard__body">
                    <div class="dashboard__body__header">
                        <div class="dashboard__body__header__container" href="#my-pets">
                            <div class="dashboard__body__header__container--box">
                                <h3><fa-icon [icon]="faDog" style="color: var(--text-color)"></fa-icon> Mis peludos</h3>
                                <span *ngIf="!this.counterLoader">{{this.totalPets}}</span>
                                <fa-icon [icon]="faCircleNotch" animation="spin" size="2x" *ngIf="this.counterLoader"></fa-icon>
                            </div>
                        </div>
                        <div class="dashboard__body__header__container">
                            <div class="dashboard__body__header__container--box">
                                <h3><fa-icon [icon]="faQrcode" style="color: var(--text-color)"></fa-icon> Mis códigos</h3>
                                <span *ngIf="!this.counterLoader">{{this.totalTokens}}</span>
                                <fa-icon [icon]="faCircleNotch" animation="spin" size="2x" *ngIf="this.counterLoader"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard__body__container">
                        <app-loader *ngIf="petsLoader"></app-loader>
                        <div class="dashboard__body__container__header">
                           <app-pet-filters></app-pet-filters>
                        </div>
                        <div class="dashboard__body__container__box" *ngIf="this.pets && !petsLoader" id="#my-pets">
                            <div class="dashboard__body__container__box__item" *ngFor="let pet of this.pets.data">
                                <div class="dashboard__body__container__box__item--header">
                                    <div class="dropdown">
                                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li>
                                            <a class="dropdown-item" type="button" (click)="editPet(pet)">
                                              <fa-icon [icon]="faPen" class="icon"></fa-icon> Editar
                                            </a>
                                          </li>
                                          <li>
                                            <a class="dropdown-item" type="button" (click)="deletePet(pet)">
                                              <fa-icon [icon]="faTrash" class="icon"></fa-icon> Eliminar
                                            </a>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dashboard__body__container__box__item--body">
                                    <div class="dashboard__body__container__box__item--body--image">
                                        <picture *ngFor="let image of pet.images">
                                            <img src="{{image.url}}" alt="pet-image">
                                        </picture>
                                        <h3>{{pet.name}}</h3>
                                    </div>
                                    <div class="dashboard__body__container__box__item--body--button">
                                        <button *ngIf="pet.pet_token.token" [routerLink]="['/pets/', pet.pet_token.token]">Ver perfil</button>
                                        <button *ngIf="!pet.pet_token.token" [routerLink]="['/get-qr-code/', pet.id]">Obtener chapita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-pagination 
                            *ngIf="this.pets && !petsLoader" 
                            [pagination]="this.pets" 
                            (OnPageChange)="updatePets()"
                        ></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>