.page-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-color);
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .content {
        flex: 1;
        padding: 20px;
        margin-left: 200px;
        .dashboard {
            margin-bottom: 3.5rem;
            &__header {
                &--title {
                    width: max-content;
                    font-family: var(--primary-font);
                    color: var(--text-color);
                    font-size: 3rem;
                    border-bottom: 3px solid var(--primary-color);
                    fa-icon {
                        color: var(--primary-color);
                    }
                    @media (max-width: 768px) {
                        font-size: 2rem;
                        @media (max-width: 360px) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__body {
                margin: 2rem;
                &__header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    gap: 2rem;
                    &__container {
                        width: 500px;
                        background-color: var(--primary-color);
                        color: var(--background-color);
                        border-radius: 2rem;
                        padding: 2rem;
                        cursor: pointer;
                        transition: background-color .3s ease;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            background-color: darken($color: #F9B348, $amount: 10);
                        }
                        &--box {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            h3 {
                                font-size: 2rem;
                                font-weight: 100;
                            }
                            span {
                                font-size: 2rem;
                                font-family: var(--primary-font);
                            }
                        }
                    }
                }
                &__container {
                    margin: 2rem 0;
                    &__header {
                        width: 100%;
                        margin-bottom: 2rem;
                        button {
                            background-color: var(--primary-color);
                            color: #fff;
                            font-size: .7em;
                            fa-icon {
                                margin: 0 .3rem;
                            }
                        }
                    }
                    &__box {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        &__item {
                          flex-basis: calc(25% - 20px);
                          border-radius: 2rem;
                          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                          padding: 1rem 2rem;
                          min-height: 400px;
                            &--header {
                              display: flex;
                              align-items: center;
                              justify-content: flex-end;
                              button {
                                outline: none;
                                border: none;
                                padding: .5rem;
                                border-radius: 2rem;
                                background-color: var(--primary-color);
                                color: #fff;
                                font-family: var(--secondary-font);
                                &:hover {
                                  background-color: darken($color: #F9B348, $amount: 10);
                                }
                              }
                            }
                            &--body {
                              &--image {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 1rem;
                                picture {
                                  background-color: var(--primary-color);
                                  padding: .3rem;
                                  border-radius: 50%;
                                  img {
                                    border-radius: 50%;
                                    width: 200px;
                                    height: 200px;
                                  }
                                }
                                h3 {
                                  font-family: var(--primary-font);
                                  margin: .5rem 0;
                                }
                              }
                              &--button {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                button {
                                  border: none;
                                  outline: none;
                                  background-color: var(--primary-color);
                                  border-radius: 2rem;
                                  color: #fff;
                                  padding: .5rem 2rem;
                                  &:hover {
                                    background-color: darken($color: #F9B348, $amount: 10);
                                  }
                                }
                              }
                            }
                        }
                    }
                }
            }
        }
    
        @media (max-width: 768px) {
            order: 1;
            margin: 0;
            .dashboard {
                &__body {
                    &__header {
                        &__container {
                            width: 100%;
                            padding: 1rem;
                            border-radius: 1rem;
                            &--box {
                                h3 {
                                    font-size: 1.3rem;
                                }
                                span {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                    &__container {
                        margin: 2rem 0;
                        &__box {
                            flex-wrap: wrap;
                            &--item {
                                picture {
                                    img {
                                        width: 100%;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}