<app-navbar></app-navbar>
<section id="descubre-mas" class="descubre-mas-section">
  <div class="container">
    <!-- Encabezado -->
    <div class="header">
      <div class="header-content">
        <h1 class="animated fadeInUp">Mantén a tu mascota segura y conectada</h1>
        <p class="animated fadeInUp">Descubre cómo Pet Connect puede ayudarte a proteger a tu mejor amigo.</p>
        <div class="cta-buttons">
          <button aria-label="Iniciar ahora" class="cta-button animated fadeInUp" (click)="navigateTo('/auth/signin')">Inicia Ahora</button>
          <button aria-label="Obtener tu chapita" class="cta-button-secondary animated fadeInUp" (click)="navigateTo('/comprar-chapita')">Obtener Chapita QR</button>
        </div>
      </div>
      <div class="header-image animated fadeInRight">
        <img src="/assets/images/illustration-qr-phone.webp" alt="Pet Connect">
      </div>
    </div>

    <!-- Beneficios Clave -->
    <div class="features">
      <div class="feature-item animated fadeInUp">
        <img src="/assets/images/icon-easy-to-use.webp" alt="Fácil de Usar">
        <h3>Fácil de Usar</h3>
        <p>Registra y rastrea a tu mascota con solo unos pocos clics.</p>
      </div>
      <div class="feature-item animated fadeInUp">
        <img src="/assets/images/icon-economical.webp" alt="Económico">
        <h3>Económico</h3>
        <p>El método más económico del mercado.</p>
      </div>
      <div class="feature-item animated fadeInUp">
        <img src="/assets/images/icon-secure.webp" alt="Seguro y Confiable">
        <h3>Seguro y Confiable</h3>
        <p>Tus datos y los de tu mascota están siempre protegidos.</p>
      </div>
    </div>

    <!-- Línea Decorativa -->
    <div class="decorative-line"></div>

    <!-- Sección Adicional -->
    <div class="additional-section animated fadeInUp">
      <h2>Conecta con tu Comunidad</h2>
      <p>Únete a nuestra comunidad de amantes de las mascotas y mantente informado con los últimos consejos y noticias.</p>
      <button aria-label="Comunidad" class="cta-button" (click)="navigateTo('/community')">Unirse a la Comunidad</button>
    </div>
  </div>
</section>
<app-footer></app-footer>