<section class="page-container">
    <app-sidebar></app-sidebar>
    <div class="content">
      <div class="pets">
        <app-loader *ngIf="!pets"></app-loader>
        <div *ngIf="!pets && this.unknowError">
          <h2>
            <fa-icon [icon]="faTriangleExclamation"></fa-icon> {{this.errorMessage}}
          </h2>
        </div>
        <div class="pets__container" *ngIf="pets">
          <div class="pets__item" *ngFor="let pet of pets.data">
            <div class="pet__dots">
                <p class="pet__name">{{ pet.name }}</p>
                <div class="dropdown">
                    <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" type="button" (click)="editPet(pet)">
                          <fa-icon [icon]="faPen" class="icon"></fa-icon> Editar
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" type="button" (click)="deletePet(pet)">
                          <fa-icon [icon]="faTrash" class="icon"></fa-icon> Eliminar
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="pet__images">
              <picture *ngIf="pet.images.length > 0">
                <img *ngFor="let image of pet.images" src="{{ image.url }}" alt="pet-image">
              </picture>
              <picture *ngIf="pet.images.length <= 0">
                <img src="assets/images/pet-avatar.webp" alt="pet-avatar">
              </picture>
            </div>
            <div class="pet__actions">
              <button class="action-button" *ngIf="!pet.pet_token">
                <fa-icon [icon]="faQrcode"></fa-icon>
                Obtén tu código
              </button>
              <div class="qr-code" *ngIf="pet.pet_token">
                <p>Mi código QR</p>
                <img src="{{pet.pet_token.qr_code}}" alt="qr-code">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>