<app-loader *ngIf="this.loading"></app-loader>
<div class="profile" *ngIf="!this.loading">
    <div class="profile__container">
        <label for="profilePicture" class="profile__container__picture--label">
            <img
              src="assets/images/pet-avatar.webp"
              alt="pet-avatar"
              class="profile__container__picture--image"
              *ngIf="!selectedImage"
            />
            <input
              type="file"
              id="profilePicture"
              accept="image/*"
              (change)="onImageSelected($event)"
              style="display: none;"
            />
            <img
              [src]="selectedImage"
              alt="pet-avatar"
              class="profile__container__picture--image"
              *ngIf="selectedImage"
            />
            <div class="profile__container__picture--overlay" *ngIf="!selectedImage">
              <p>Haz clic para subir una imagen</p>
            </div>
        </label>
        <div class="profile__container__items">
            <app-progress-bar [currentStep]="1"></app-progress-bar>
            <form [formGroup]="petForm" (ngSubmit)="createPet()">
                <h1 class="profile__container__items--title">Perfil de tu mascota</h1>
                <div class="profile__container__items__item" *ngIf="this.hasToken && this.token !== null">
                    <mat-form-field>
                        <mat-label>Parece que ya tienes mascotas en tu cuenta (opcional)</mat-label>
                        <mat-select 
                            name="pet_id" 
                            id="pet_id" 
                            [formControl]="petCtrl"
                            #petSelect
                            (selectionChange)="onPetChange()"
                            (input)="onInputChanged($event)"
                            placeholder="Seleccione una mascota"
                            placeholderLabel="Selecciona una mascota..."
                            noEntriesFoundLabel="'No se encontraron mascotas'"
                            (keydown.enter)="$event.preventDefault()"
                            >
                            <mat-option>
                                <ngx-mat-select-search 
                                    [noEntriesFoundLabel]="'No se encontaron mascotas'" 
                                    [formControl]="petFilterCtrl"
                                    placeholderLabel="Buscar"
                                ></ngx-mat-select-search>
                            </mat-option>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let pet of (filteredPets | async)" [value]="pet.id">
                                {{pet.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="profile__container__items__item">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input 
                            type="text"
                            matInput
                            formControlName="name"
                        >
                        <mat-error *ngIf="isFieldInvalid('name')">
                            {{getErrorMessage('name')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row justify-content-around ">
                    <div class="col-sm-12 col-md-6 col-lg-6 profile__container__items__item">
                        <mat-form-field>
                            <mat-label>Fecha de nacimiento (opcional)</mat-label>
                            <input 
                                (focus)="picker.open()"
                                formControlName="birth_date" 
                                matInput 
                                [matDatepicker]="picker">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-error *ngIf="isFieldInvalid('birth_date')">
                                <fa-icon [icon]="faExclamationCircle"></fa-icon> 
                                <p *ngIf="petForm.get('birth_date')?.errors?.['required']">La fecha de nacimiento es requerida.</p>
                            </mat-error>
                            <mat-datepicker-toggle matIconSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>   
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 profile__container__items__item">
                        <mat-form-field>
                            <mat-select 
                                name="race_id" 
                                id="race_id" 
                                [formControl]="raceCtrl"
                                #raceSelect
                                [ngClass]="{ 'is-valid': isFieldValid('race_id'), 'is-invalid': isFieldInvalid('race_id')}"
                                (input)="onInputChanged($event)"
                                placeholder="Seleccione una raza"
                                placeholderLabel="Selecciona una mascota..."
                                noEntriesFoundLabel="'No se encontraron mascotas'"
                                >
                                <mat-option>
                                    <ngx-mat-select-search 
                                        [formControl]="raceFilterCtrl"
                                        [noEntriesFoundLabel]="'No se encontaron mascotas'" 
                                        placeholderLabel="Buscar"
                                    ></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let race of (filteredRaces | async)" [value]="race.id">
                                    {{race.name}}
                                </mat-option>
                            </mat-select>
                            <div class="profile__container__items__item--validation" *ngIf="isFieldInvalid('race_id')">
                                <fa-icon [icon]="faExclamationCircle"></fa-icon> 
                                <p>{{getErrorMessage('race_id')}}</p>
                            </div>
                        </mat-form-field>
                        
                    </div>
                </div>
                <div class="profile__container__items__item">
                    <mat-form-field>
                        <mat-select 
                            placeholder="Seleccione el género"
                            name="gender" 
                            id="gender" 
                            formControlName="gender" 
                            [ngClass]="{ 'is-valid': isFieldValid('gender'), 'is-invalid': isFieldInvalid('gender')}"
                            (input)="onInputChanged($event)">
                            <mat-option value="">Género de la mascota</mat-option>
                            <mat-option value="male">Macho</mat-option>
                            <mat-option value="female">Hembra</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="profile__container__items__item--validation" *ngIf="isFieldInvalid('gender')">
                        <fa-icon [icon]="faExclamationCircle"></fa-icon> 
                        <p>{{getErrorMessage('gender')}}</p>
                    </div>
                </div>
                <div class="profile__container__items__item">
                    <mat-form-field>
                        <mat-label>Descríbe a tu peludo</mat-label>
                        <textarea
                            matInput
                            formControlName="pet_information"
                            placeholder="Aquí podrás describir todas las características de tu peludito"
                        ></textarea>
                        <mat-error *ngIf="isFieldInvalid('pet_information')">
                            {{getErrorMessage('pet_information')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="unknowError" class="profile__container__items__item--error">
                    <fa-icon [icon]="faExclamationCircle"></fa-icon>
                    <p>{{errorMessage}}</p>
                </div>
                <div class="profile__container__items__item--button">
                    <button [disabled]="submitting || petForm.invalid" #formBtn>
                        {{btnValue}}
                        <fa-icon *ngIf="submitting" [icon]="faSpinner" [spin]="true"></fa-icon>
                        <fa-icon *ngIf="!submitting" [icon]="faChevronRight"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>