.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/images/login-background.webp') no-repeat center center;
    background-size: cover;
    position: relative;
  
    &__content {
      background-color: rgba(var(--invert-rgb-background), 0.7); // Fondo semitransparente oscuro para resaltar el contenido
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      z-index: 1;
  
      picture img {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 50%;
      }
  
      form {
        .signin__container {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          &__header {
            margin-bottom: 20px;
          }
  
          &--title {
            margin-bottom: 20px;
            color: var(--invert-text-color); // Texto blanco para mejor legibilidad
          }
  
          &__item {
            width: 100%;
            margin-bottom: 20px;
  
            mat-form-field {
              width: 100%;
            }
  
            button {
              width: 100%;
            }
          }
  
          &__item--sub-title {
            margin-bottom: 10px;
            color: #f69a30;
          }
  
          &__item--sub-title-description {
            margin-bottom: 20px;
            color: #fbca7f;
          }
  
          &__item--bad-credentials {
            display: flex;
            align-items: center;
            color: #d32f2f;
            margin-bottom: 10px;
  
            fa-icon {
              margin-right: 10px;
            }
          }
  
          &__item--footer {
            button {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  