.sidebar {
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 2rem 0;
    font-size: 17px;
    &__logo {
        img {
            max-width: 100%;
            width: 100px;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            li {
                width: 100%;
                a {
                    color: var(--text-color);
                    font-family: var(--primary-font);
                    margin: 10px 0;
                    text-decoration: none;
                    padding: 10px 2rem 10px 10px;
                    span {
                        margin-left: .1rem;
                    }
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        ul {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            li {
                text-align: center;
                a {
                    font-family: var(--secondary-font);
                    text-decoration: none;
                    padding: 10px 2rem 10px 10px;
                    background-color: var(--background-color);
                    color: var(--text-color);
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    span {
                        margin-left: .1rem;
                    }
                }
            }
        }
    }
}

.active {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--background-color);
}