<mat-sidenav-container class="sidebar">
    <mat-sidenav position="start">Test</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="sidebar">
    <div class="sidebar__logo">
        <a routerLink="/dashboard">
            <img src="/assets/images/pet-connect-logo.png" alt="pet-connect-logo">
        </a>
    </div>
    <div class="sidebar__icons">
        <ul>
            <li>
                <a routerLink="/dashboard/my-pets" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                    <fa-icon [icon]="faPaw"></fa-icon> <span class="d-md-inline d-sm-none">Mis peludos</span>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/profile" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon [icon]="faUser"></fa-icon> <span class="d-md-inline d-sm-none">Mi perfil</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar__footer">
        <ul>
            <li>
                <a href="#" class="sidebar__icon">
                    <fa-icon [icon]="faSignOut"></fa-icon> <span class="d-md-inline d-sm-none">Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>
</div> -->
