<div class="sidebar">
    <div class="sidebar__logo">
        <a routerLink="/">
            <img src="/assets/images/pet-connect-icon-black.png" alt="pet-connect-logo">
        </a>
    </div>
    <div class="sidebar__icons">
        <ul>
            <li>
                <a routerLink="/app" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                    <fa-icon [icon]="faHome"></fa-icon> Inicio
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/my-pets" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                    <fa-icon [icon]="faPaw"></fa-icon> Mis peludos
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/profile" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon [icon]="faUser"></fa-icon> Mi perfil
                </a>
            </li>
            <li>
                <a routerLink="/community" class="sidebar__icon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon [icon]="faUsers"></fa-icon> Comunidad
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar__footer">
        <ul>
            <li>
                <a (click)="signOut()" class="sidebar__icon">
                    <fa-icon [icon]="faSignOut"></fa-icon> Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
</div>
