$pc-palette: (
    50 : #fef6e9,
    100 : #fde8c8,
    200 : #fcd9a4,
    300 : #fbca7f,
    400 : #fabe63,
    500 : #f9b348,
    600 : #f8ac41,
    700 : #f7a338,
    800 : #f69a30,
    900 : #f58b21,
    A100 : #ffffff,
    A200 : #fffcf9,
    A400 : #ffe1c6,
    A700 : #ffd3ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pet-connect-app-primary: mat.define-palette($pc-palette);
$pet-connect-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pet-connect-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pet-connect-app-theme: mat.define-light-theme((
  color: (
    primary: $pet-connect-app-primary,
    accent: $pet-connect-app-accent,
    warn: $pet-connect-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pet-connect-app-theme);

/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #F9B348;
    --primary-font: 'Cinzel', serif;
    --secondary-font: 'Montserrat', sans-serif;
    --mat-select-panel-background-color: #fff;

    --background-color: #fff;
    --text-color: #2b2b2b;
    --invert-box-background-color: #fff;
    --invert-box-text-color: #2b2b2b;
    --bs-modal-background: transparent;
    --bs-modal-border-color: transparent;
}
:root .dark-mode {
    /* Estilos para el modo oscuro */
    --background-color: #2b2b2b;
    --text-color: #fff;
    --invert-box-background-color: #fff;
    --invert-box-text-color: #2b2b2b;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@600&display=swap');

.dark-mode {
    
    background-color: var(--background-color);
    color: var(--text-color);
    .navbar {
        .navbar-toggler {
            color: var(--text-color);
            .navbar-toggler-icon {
                filter: invert(100%);
            }
        }
        .navbar-nav .nav-link {
            color: var(--text-color);
        }

        /* Cambia el fondo y el texto del dropdown en modo oscuro */
        .dropdown-menu {
            background-color: var(--background-color);
            color: var(--text-color);
        }

        /* Cambia el color de fondo para el item seleccionado en el dropdown en modo oscuro */
        .dropdown-menu .dropdown-item.active,
        .dropdown-menu .dropdown-item:hover {
            background-color: var(--primary-color);
            color: var(--text-color);
        }

        /* Cambia el color de los enlaces del dropdown en modo oscuro */
        .dropdown-menu .dropdown-item {
            color: var(--text-color);
        }

        .dark-mode-toggle-btn {
            color: var(--text-color);
        }
        fa-icon {
            color: #fff !important;
        }
    }
    a {
        color: var(--text-color);
    }
}

a {
    color: var(--text-color);
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs5-alert';