<app-loader *ngIf="!pet"></app-loader>
<section class="pet" *ngIf="pet">
    <div class="pet__container">
        <h1>Obtener el código QR para <span>{{pet.name}}</span></h1>
        <div class="pet__container__item">
            <div class="pet__container__item__list">
                <div class="pet__container__item__list--item">
                    <div>
                        <h5><fa-icon [icon]="faBell"></fa-icon> Mantente notificado</h5>
                    </div>
                    <hr />
                    <p>Siempre que alguien escanee el código <b><fa-icon [icon]="faQrcode"></fa-icon> QR</b> recibirás una notificación brindando mucha más tranquilidad.</p>
                </div>
                <div class="pet__container__item__list--item">
                    <div>
                        <h5><fa-icon [icon]="faShieldHalved"></fa-icon> Siempre seguro</h5>
                    </div>
                    <hr />
                    <p>Tanto tú como tu mejor amigo estarán más seguros con esta innovación pues mantendrás tu información alojada en un lugar seguro.</p>
                </div>
                <div class="pet__container__item__list--item">
                    <div>
                        <h5><fa-icon [icon]="faCircleDollarToSlot"></fa-icon> El mejor precio</h5>
                    </div>
                    <hr />
                    <p>Utilizamos (PLA) un material resistente y duro para que tu mejor amigo esté bien cuidado a donde sea que vaya. Además es un material muy económico en el mercado lo que nos brinda la posibilidad de ofrecer mejores precios.</p>
                </div>
            </div>
        </div>
        <div class="pet__container__footer">
            <a routerLink="/frequent-questions">
                <fa-icon [icon]="faCircleQuestion"></fa-icon> Preguntas frecuentes
            </a>
        </div>
    </div>
    <div class="pet__store">
        <a routerLink="/dashboard/my-pets">
            <fa-icon [icon]="faCircleArrowLeft"></fa-icon> Regresar</a>
        <div class="pet__store--image">
            <picture>
                <img src="assets/images/collar-with-qr.png" alt="collar-with-qr">
            </picture>
            <p>Chapita con código QR identificador para <span>{{pet.name}}</span></p>
        </div>
        <div  class="pet__store--methods">
            <h3>Métodos de pago</h3>
            
        </div>
        <div class="pet__store--complete">
            <button type="button">Completar la compra</button>
        </div>
    </div>
</section>